body {
  background-color: orchid;
  font-family: "Lora", serif;
}
.smh {
  margin-top: 35px;
  font-size: 50px;
  color: darkviolet;
  text-align: center;
  margin-bottom: 10px;
}
.in-siths {
  margin-top: 10px;
  font-size: 40px;
  color: darkviolet;
  text-align: center;
}
.titles {
  font-size: 40px;
}
.column {
  width: 33%;
  background-color: rgb(255, 164, 244);
  margin: auto;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: purple;
  padding: 20px;
  border-radius: 30px;
}
.paragraphs {
  margin: 50px;
}
.vending {
  position: absolute;
  top: 300px;
  right: 10px;
}
.vending2 {
  position: absolute;
  top: 300px;
}
