body {
  background-color: orchid;
  font-family: "Lora", serif;
}
.smh {
  margin-top: 35px;
  font-size: 50px;
  color: darkviolet;
  text-align: center;
  margin-bottom: 10px;
}
.in-siths {
  margin-top: 10px;
  font-size: 40px;
  color: darkviolet;
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
  background-color: rgb(255, 164, 244);
  padding: -30px;
}
.row:after {
  display: table;
  clear: both;
}
.columns {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: purple;
}
